.is-style-squared {
	border-radius: 0px;
	padding: 30px;
}
.is-style-outline {
	border-radius: 30px;
	border: 2px solid currentColor;
	padding: 30px;
}
.is-style-all {
	border-radius: 30px;
	border: 10px solid orange;
	padding: 30px;
	background: #ccc;
}
