/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-my-block {
	background: hsla(0, 8%, 90%, 0.424);
	border: 3px solid $red;
	border-radius: 10px;
	color: $black;
	margin: 0 auto;
	max-width: 740px;
	padding: 2rem;
}
.wp-block-mytheme-blocks-secondblock {
	background-color: #524d5b;
	color: #fff;
	border-radius: 5px;
	padding: 20px;
	&.is-style-squared {
		border-radius: 30px;
		color: green;
	}
	&.is-style-outline {
		border-radius: 0px;
		border: 2px solid currentColor;
	}
}
